/* --- Global Styles --- */
@import "colors/colors.css";
* {
  font-family:
    "Google Sans Flex", "SF Pro Display", "Segoe UI, GeistMono Nerd Font Propo",
    sans-serif;
  min-height: 0;
  /* set font-size to 100% if font scaling is set to 1.00 using nwg-look */
  font-size: 0.8rem;
}

/* --- Waybar Container --- */
#waybar {
  background: alpha(@surface,1);
  border-radius: 20px;
  margin: 0px;
  font-weight: 500;
}
.modules-left{
  border-radius: 20px;
 background: alpha(@surface_container_low,1);
}
.modules-center{
  border-radius: 20px;
 background: alpha(@surface_container_low,1);
}
.modules-right{
  border-radius: 20px;
 background: alpha(@surface_container_low,1);
}
/* --- Left Modules (Individual, Fully Rounded Blocks - With Horizontal Spacing & Simple Hover) --- */
#workspaces {
  padding: 0.3rem 0.7rem;
  margin: 5px 0px; /* 5px top/bottom margin, 0px left/right (base for individual control) */
  border-radius: 6px; /* These modules are always rounded */
  min-width: 0;
  border: none;
  /* Transition for background-color and color only */
  transition:
    background-color 0.2s ease-in-out,
    color 0.2s ease-in-out;
}

#workspaces {
  padding: 0.3rem 2px;
  border-radius: 100px;
  margin-left: 7px; /* Margin from the far left edge */
  margin-right: 5px; /* Spacing after the workspaces module */


  color: @on_surface;
  transition:
    background-color 0.2s ease-in-out,
    color 0.2s ease-in-out;
}

#workspaces button {
  color: @outline_variant;
  border-radius: 20px; /* Workspaces buttons are always rounded */
  padding: 0.3rem 0.5rem;
  margin: 0px 3px;
  transition: all 0.3s ease-in-out;
  border: none;
  outline: none;
}

#workspaces button.active {
  color: @primary;
}

#workspaces button:hover {
  color: @secondary;
  background: transparent;
}

#clock {
  color: @primary;

  padding: 0.3rem 0.7rem;
  margin: 5px 10px;
  border-radius: 100px; /* This module is always rounded */
  min-width: 0;
  border: none;
}
#custom-power,
#custom-notification,
#pulseaudio,
#network {

  padding: 0.3rem 0.7rem;
  margin: 5px 5px;
  border-radius: 100px;
  min-width: 0;
  color: @tertiary;
  border: none;
}

#custom-power {
  padding-right: 0.45rem;
  transition: all 0.2s ease-in-out;
  color: @error;
  min-width: 15px;
}
#tray {
  padding-right: 0.45rem;
}
#custom-notification {
  padding-right: 0.955rem;
  transition: all 0.2s ease-in-out;
  border-radius: 100px;
  color: @on_surface;
}

#mpd {
  color: @primary;

  padding: 0.3rem 0.7rem;
  margin: 5px 0px;
  border-radius: 100px; /* This module is always rounded */
  min-width: 0;
  border: none;
  transition: all 0.2s ease-in-out;
}
#custom-mpd-prev,
#custom-mpd-next {
  color: @primary;
  padding: 0.3rem 0.7rem;
  margin: 5px 0px;
  border-radius: 100px;
  min-width: 0;
  border: none;
  transition: all 0.2s ease-in-out;
}

#custom-mpd-prev {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 10px;
  padding-right: 5px;
}

#custom-mpd-next {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 5px;
  padding-right: 10px;
}
#mpd {
  border-radius: 0;
  margin-left: 0;
}
#pulseaudio {
  color: @secondary;
}
#custom-menu {

  padding: 0.3rem 0.7rem;
  margin: 5px 5px;
  border-radius: 100px;
  color: @on_surface;
  min-width: 13px;
  border: none;
  padding-right: 0.8rem;
  transition: all 0.2s ease-in-out;
}
